
// fonts
$header-font:'Montserrat', sans-serif;
$paragraph-font:'Lato', sans-serif;

//colors

$primaryMainColor:#2196f3;
$primarySubColor:#1e88e5;
$primaryFontColor:#e3f2fd;


$secondaryMainColor:#e1f5fe;
$secondarySubColor:#b3e5fc;
$secondaryFontColor:#031d44;

$CTAMainColor:#f44336;
$CTASubColor:#e53935;

$iconMainColor:#ffcc80;
$iconSubColor:#ffb74d;
